<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增群组列')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-group-add">
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">群组id：</label>
                    <div class="col-sm-8">
                        <input name="groupId" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">群组名称：</label>
                    <div class="col-sm-8">
                        <input name="groupName" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户名称：</label>
                    <div class="col-sm-8">
                        <input name="userName" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户昵称：</label>
                    <div class="col-sm-8">
                        <input name="nickName" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否是管理员：true 或者 false：</label>
                    <div class="col-sm-8">
                        <input name="isNotManage" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">押群金额：</label>
                    <div class="col-sm-8">
                        <input name="groupAmount" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">交易中金额：</label>
                    <div class="col-sm-8">
                        <input name="trandPendingAmount" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">剩余交易金额：</label>
                    <div class="col-sm-8">
                        <input name="balance" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">完成金额：</label>
                    <div class="col-sm-8">
                        <input name="finishAmount" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">群组编号：</label>
                    <div class="col-sm-8">
                        <input name="groupNumber" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">老板tg号：</label>
                    <div class="col-sm-8">
                        <input name="boosTgId" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "baobeibot/group"
        $("#form-group-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-group-add').serialize());
            }
        }
    </script>
</body>
</html>