<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.order.mapper.BotOrderListMapper">

    <resultMap type="BotOrderList" id="BotOrderListResult">
        <result property="id"    column="id"    />
        <result property="tradeUser"    column="trade_user"    />
        <result property="tradeInfo"    column="trade_info"    />
        <result property="initiatorReportUser"    column="Initiator_report_user"    />
        <result property="tradeTime"    column="trade_time"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBotOrderListVo">
        select id, trade_user, trade_info, Initiator_report_user, trade_time, order_status, create_time, update_time from bot_order_list
    </sql>

    <select id="selectBotOrderListList" parameterType="BotOrderList" resultMap="BotOrderListResult">
        <include refid="selectBotOrderListVo"/>
        <where>
            <if test="tradeUser != null  and tradeUser != ''"> and trade_user = #{tradeUser}</if>
            <if test="tradeInfo != null  and tradeInfo != ''"> and trade_info = #{tradeInfo}</if>
            <if test="initiatorReportUser != null  and initiatorReportUser != ''"> and Initiator_report_user = #{initiatorReportUser}</if>
            <if test="tradeTime != null  and tradeTime != ''"> and trade_time = #{tradeTime}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
        </where>
    </select>

    <select id="selectBotOrderListById" parameterType="Long" resultMap="BotOrderListResult">
        <include refid="selectBotOrderListVo"/>
        where id = #{id}
    </select>

    <insert id="insertBotOrderList" parameterType="BotOrderList" useGeneratedKeys="true" keyProperty="id">
        insert into bot_order_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tradeUser != null">trade_user,</if>
            <if test="tradeInfo != null">trade_info,</if>
            <if test="initiatorReportUser != null">Initiator_report_user,</if>
            <if test="tradeTime != null">trade_time,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tradeUser != null">#{tradeUser},</if>
            <if test="tradeInfo != null">#{tradeInfo},</if>
            <if test="initiatorReportUser != null">#{initiatorReportUser},</if>
            <if test="tradeTime != null">#{tradeTime},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBotOrderList" parameterType="BotOrderList">
        update bot_order_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="tradeUser != null">trade_user = #{tradeUser},</if>
            <if test="tradeInfo != null">trade_info = #{tradeInfo},</if>
            <if test="initiatorReportUser != null">Initiator_report_user = #{initiatorReportUser},</if>
            <if test="tradeTime != null">trade_time = #{tradeTime},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBotOrderListById" parameterType="Long">
        delete from bot_order_list where id = #{id}
    </delete>

    <delete id="deleteBotOrderListByIds" parameterType="String">
        delete from bot_order_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
